body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color: #FFF;
    background-color: #343434;
}
.container{
    width: 25%;
}
.card{
    border-radius: 50px;
     background-color: #343434;
     box-shadow: 5px 5px 10px #191b1b, -5px -5px 10px #595959;
     padding:3%;
     text-align: center;
}
.card h4{
   font-size: 4rem;
   font-weight: 400;
   margin:1rem 0;
   
}
img #icon{
    width: 20%;
}
h6 #weather{
    text-transform: uppercase;
}
button.refresh{
    display: block;
    width: 80px;
    margin:10px auto;
    background: transparent;
    border: 0;
    color: #9c9c9c;
    font-size: 30px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #191b1b, -5px -5px 10px #595959;
    cursor: pointer;
}
button.refresh:hover{
    box-shadow: -5px -5px 10px  #191b1b, 5px 5px 10px #595959;
}


@media only screen and (max-width:1023px){

    .container{
    width: 50%;
}
}

@media only screen and (max-width:768px){

    .container{
    width: 50%;
}

}
@media only screen and (max-width:480px){

    .container{
    width: 80%;
}

}